	<div class="sh-sideleft-menu">
        <label class="sh-sidebar-label">Navigation</label>
        <ul class="nav">
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="icon ion-ios-home-outline"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- nav-item -->
            <li class="nav-item">
                <a href="" class="nav-link with-sub">
                    <i class="icon ion-ios-bookmarks-outline"></i>
                    <span>Kategori</span>
                </a>
                <ul class="nav-sub">
                    <li class="nav-item">
                        <a href="/kategori/add" class="nav-link">Tambah Kategori Baru</a>
                    </li>
                    <li class="nav-item">
                        <a href="/kategori" class="nav-link">Data Kategori</a>
                    </li>
                </ul>
            </li>
            <!-- nav-item -->
            <li class="nav-item">
                <a href="" class="nav-link with-sub">
                    <i class="icon ion-map"></i>
                    <span>Lokasi</span>
                </a>
                <ul class="nav-sub">
                    <li class="nav-item">
                        <a href="/tempat/add" class="nav-link">Tambah Tempat Baru</a>
                    </li>
                    <li class="nav-item">
                        <a href="/tempat" class="nav-link">Data Tempat</a>
                    </li>
                </ul>
            </li>
            <!-- nav-item -->
            <li class="nav-item">
                <a href="" class="nav-link with-sub">
                    <i class="icon ion-flag"></i>
                    <span>Informasi Umum</span>
                </a>
                <ul class="nav-sub">
                    <li class="nav-item">
                        <a href="/umum/add" class="nav-link">Tambah Informasi Baru</a>
                    </li>
                    <li class="nav-item">
                        <a href="/umum" class="nav-link">Data Informasi Umum</a>
                    </li>
                </ul>
            </li>
            <!-- nav-item -->
            <li class="nav-item">
                <a href="" class="nav-link with-sub">
                    <i class="icon ion-person"></i>
                    <span>Kontak Penting</span>
                </a>
                <ul class="nav-sub">
                    <li class="nav-item">
                        <a href="/kontak/add" class="nav-link">Tambah Kontak Penting Baru</a>
                    </li>
                    <li class="nav-item">
                        <a href="/kontak" class="nav-link">Data Kontak Penting</a>
                    </li>
                </ul>
            </li>
        
            <!-- nav-item -->
            <li class="nav-item">
                <a href="" class="nav-link">
                    <i class="icon ion-ios-list-outline"></i>
                    <span>Informasi Aplikasi</span>
                </a>
            </li>
            <!-- nav-item -->
        </ul>
    </div>
    <!-- sh-sideleft-menu -->