<div class="row row-xs">
  <div class="col-6 col-sm-4 col-md">
    <a href="/kategori/" class="shortcut-icon">
      <div>
        <i class="icon ion-ios-bookmarks-outline"></i>
        <span>Kategori</span>
      </div>
    </a>
  </div><!-- col -->
  <div class="col-6 col-sm-4 col-md">
    <a href="/tempat/" class="shortcut-icon">
      <div>
        <i class="icon ion-map"></i>
        <span>Lokasi</span>
      </div>
    </a>
  </div><!-- col -->
  <div class="col-6 col-sm-4 col-md mg-t-10 mg-sm-t-0">
    <a href="/umum" class="shortcut-icon">
      <div>
        <i class="icon ion-flag"></i>
        <span>Informasi Umum</span>
      </div>
    </a>
  </div><!-- col -->
  <div class="col-6 col-sm-4 col-md mg-t-10 mg-md-t-0">
    <a href="/kontak" class="shortcut-icon">
      <div>
        <i class="icon ion-person"></i>
        <span>Kontak Penting</span>
      </div>
    </a>
  </div><!-- col -->
  <div class="col-6 col-sm-4 col-md mg-t-10 mg-md-t-0">
    <a href="/info" class="shortcut-icon">
      <div>
        <i class="icon ion-clipboard"></i>
        <span>Info Aplikasi</span>
      </div>
    </a>
  </div><!-- col -->
</div><!-- row -->
