<div class="card-body">
	<form method="post" action="/kategori/{{kategori._id}}?_method=PUT">
		<input type="hidden" name="_method" value="PUT">
		<div class="form-group">
			<label for="nama_kategori" class="control-label">Nama Kategori</label>
			<input autofocus="true" type="text" value="{{kategori.nama_kategori}}" name="nama_kategori" placeholder="Nama Kategori" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Simpan</button>
	</form>
</div>