<div class="card-body">
	<form method="post" action="/kontak">
		<div class="form-group">
			<label for="keterangan" class="control-label">Keterangan</label>
			<input type="text" autofocus="true"  name="keterangan" placeholder="Keterangan" class="form-control">
		</div>
		<div class="form-group">
			<label for="no_telepon" class="control-label">No Telepon</label>
			<input type="text" autofocus="true"  name="no_telepon" placeholder="Nomor Telepon" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Simpan</button>
	</form>
</div>